.App {
  font-family: 'Fredoka', sans-serif;
  text-align: center;
  justify-content: center;
  display: flex;
}

.container {
  display: flex;
   width: 900px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sub-title {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  text-align: left;
}

.recettes {
  display: flex;
  width: 900px;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.recette {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 260px;
  height: 30px;
  border-radius: 8px;
  margin: 10px 20px 10px 20px;
  background-color: #f28b82;
  cursor: pointer;
  user-select: none;
}

.recette:hover {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.singleItem {
  background-color: #feefc3;
}

.recette-title {
  display: flex;
}

.list {
  display: flex;
  width: 900px;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: 20px;
  align-items: center;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: #eee solid 1px;

  user-select: none;
}

.itemName {
  width: 200px;
  text-align: left;
}

.itemButton {
  cursor: pointer;
}

.itemButton:hover {
  color: gray;
}

.itemQuantity {
  width: 30px;
}

.itemNameField {
  width: 160px;
  margin-right: 20px;
}

.actionButton {
  min-width: 65px;
  margin-left: 10px;
  margin-right: 10px;
}